body{
    background: rgb(0, 0, 0);
    padding-right: 0%;
    padding-top: 1%;
    padding-left: 12%;
    padding-bottom: 20%;
    margin: 0%;
    
    
}

h2 {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    color: rgb(131, 71, 126);
    font-size: 550%;
    padding: 3%;
    margin: 0%;
    display: inline-flex;
    justify-content: center;
    padding-left: 5%;
    
}
h1 {
    width: 260px;
    height: 40px;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    text-align: left;
    color: rgb(73, 133, 201);
    padding: 1%;
    margin:  0%;
}
.contenedor-login {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1%;
    margin: 0%;
}
.usuario {
    align-items: flex-start;
    text-align: center;
    margin-right: 15px;
}
.contraseña {
    text-align: center;
    margin-right: 15px;
}
.contenedor{
    background-color: rgb(117, 117, 126);
    width: 100%;
    height: 10%;
    display: inline-flex;
    flex-direction: initial;
    object-position: right;
    justify-content: right;
    align-items: flex-end;
    margin-right: 10px;
    padding: 8px;
    border-radius: 35px 0px;
}



.contenedor-img {
    display:flex;
    background-image: url(https://www.comminit.com/files/imagecache/rotator_980x400/captura_de_pantalla_2020-12-09_a_las_7.38.40_p.m.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 20% 30%;
}
.ubicador {
    display: inline-flex;
    padding: 1%;
    justify-content:right;
    padding-left: 20%;
    padding-right: 1%;
}

.p {
    position: relative;
    width: 25%;
    height: 25%;
    font-family: "sans-serif";
    font-style: oblique;
    font-weight: 600%;
    line-height: 150%;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    justify-content: center;
    }

    p{ 
         
        color: #fdfcfc;
       }
.cajas {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(248, 248, 248);
    text-align: center;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(121, 123, 128);
    padding: 4%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 35px 0px;
    align-items: flex-end;
    }


    
       
 
       
